<!DOCTYPE html>
<html lang="en">

<head>
  <title>Semantic Image Understanding</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <div id="main">
    <h2>Beauty Image Classification</h2>
    <p>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </p>

    {% if filename %}
    <div>
      <img src="{{ url_for('display_image', filename=filename) }}" class="query">
    </div>
    {% endif %}

    {% if predition_result %}
    <div>
      <h2>{{ predition_result }}</h2>
    </div>
    {% endif %}

    {% if possibilities %}
    <div>
      <span class="caption">Possibilities:</span>
      <span class="possibilities">
        {{ ','.join(possibilities) }}
      </span>
    </div>
    {% endif %}

    <div id="submission">
      <form method="post" action="/" enctype="multipart/form-data">
        <dl>
          <p>
            <input type="file" name="uploaded_file" autocomplete="off" required>
          </p>
        </dl>
        <p>
          <input type="submit" value="Submit">
        </p>
      </form>
    </div>
  </div>
</body>

</html>